APP_NAME="activity-6"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8806
LOG_CHANNEL=stack
DB_CONNECTION=sqlite
DB_DATABASE=""
DB_FOREIGN_KEYS=true
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=noreply@modulo2.test
MAIL_FROM_NAME="Aplicaciones web"
